<footer class="footer">
  <div class="wrapper box">
    <div class="footer__box">
      <div class="footer__logo">
        <img src="../img/logo.svg" alt="{{ logoTitle }}">
        <h2><span>{{footerTitle1}}</span> {{ footerTitle2 }}</h2>
      </div>
      <div class="footer__contact">
        <h2>{{ footerContact }}</h2>
        <address>
          {{ footerAdress1 }}<br>
          {{ footerAdress2 }}<br>
          {{ footerAdress3 }}
        </address>

        <a href="mailto:{{ email }}">{{ email }}</a>
      </div>

      <div class="footer__right">
        <div class="footer__top">
          <div>
            <h3>{{ footerHotLine }}</h3>
            <a class="footer__phone" href="{{ HotphoneLink }}">
              <div class="img-wrap">
                <div class="icon_svg" id="lottie7"></div>
              </div>
              <span>{{ Hotphone }}</span>
            </a>
          </div>

          <div class="header__soc smm">
            <ul class="smm__list">
              <li class="smm__item">
                <a class="smm__link" href="{{ instagramLink }}" target="_blank" rel="noopener noreferrer">
                  <img src="../img/instagram.svg" alt>
                </a>
              </li>

              <li class="smm__item">
                <a class="smm__link" href="{{ fbLink }}" target="_blank" rel="noopener noreferrer">
                  <img src="../img/facebook.svg" alt>
                </a>
              </li>

              <li class="smm__item">
                <a class="smm__link" href="{{ youtubeLink }}" target="_blank" rel="noopener noreferrer">
                  <img src="../img/youtube.svg" alt>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__bottom">
          <p class="copy">{{ footerCopyright }}</p>

          <div class="agency">
            <a href="https://web.push-k.ua/ua" target="_blank">
              <span>{{ footerAgency }}</span>
              <img src="../img/push-k.svg" alt>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
