---
webTitle: 'Фактор'
webDescription: 'Решения для строительства и ремонта'


title: Фактор - Решения для строительства и ремонта
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# partial example #}
  {% include "partials/_header.html" %}

  <main class="main">


    <section class="hero">
        <div class="hero__box">
          <div class="hero__messengers messengers">
            <ul class="messengers_list">
              <li class="messengers__item">
                <a class="messengers__link" href="viber://add?number=">
                  <img src="../img/viber.svg" alt>
                </a>
              </li>

              <li class="messengers__item">
                <a class="messengers__link" href="https://wa.me/">
                  <img src="../img/whatapp.svg" alt>
                </a>
              </li>

              <li class="messengers__item">
                <a class="messengers__link" href="https://telegram.me/">
                  <img src="../img/telegram.svg" alt>
                </a>
              </li>
            </ul>
          </div>

          <div class="hero__content">
            <h1 class="hero__title">
              Решения <br>
              <span>
                для строительства <br> и ремонта
              </span>
            </h1>

            <h2 class="hero__subtitle">
              материалы <br>
              спецтехника <br>
              доставка, монтаж
            </h2>

            <button class="hero__btn">
              <img src="../img/arrow.png" alt>
            </button>

            <img class="white-effect" src="../img/white.png" alt role="presentation">
          </div>

          <div class="hero__slider slider">
            <!-- Slide1 -->
            <div class="slide">
              <div class="slide__box">
                <div class="slide__img">
                  <picture>
                    <!-- <source type="image/webp" srcset="../img/slide1.webp"> -->
                    <source type="image/jpg" srcset="../img/slide1.jpg">
                    <img src="../img/slide1.jpg" alt>
                  </picture>
                </div>
                <div class="slide__content pt1">
                  <h3 class="slide__title">
                    Мы работаем
                  </h3>
                  <p class="slide__text">
                    Заказывай по телефону <br> с доставкой на дом.
                  </p>
                </div>
              </div>
            </div>

            <!-- Slide2 -->
            <div class="slide">
              <div class="slide__box">
                <div class="slide__img">
                  <picture>
                    <!-- <source type="image/webp" srcset="../img/slide2.webp"> -->
                    <source type="image/jpg" srcset="../img/slide2.jpg">
                    <img src="../img/slide2.jpg" alt>
                  </picture>
                </div>
                <div class="slide__content  pt2">
                  <h3 class="slide__title">
                    Безопасная доставка курьером
                    <p>20<span>грн</span></p>
                  </h3>
                  <p class="slide__text">
                    По Волновахе, товар весом до 5кг.
                  </p>
                </div>
              </div>
            </div>

            <!-- Slide3 -->
            <div class="slide">
              <div class="slide__box">
                <div class="slide__img">
                  <picture>
                    <!-- <source type="image/webp" srcset="../img/slide3.webp"> -->
                    <source type="image/jpg" srcset="../img/slide3.jpg">
                    <img src="../img/slide3.jpg" alt>
                  </picture>
                </div>
                <div class="slide__content  pt3">
                  <h3 class="slide__title">
                    Аренда спецтехники
                  </h3>
                  <p class="slide__text">
                    Автокран, автовышка, манимулятор
                  </p>
                </div>
              </div>
            </div>

            <!-- Slide4 -->
            <div class="slide">
              <div class="slide__box">
                <div class="slide__img">
                  <picture>
                    <!-- <source type="image/webp" srcset="../img/slide4.webp"> -->
                    <source type="image/jpg" srcset="../img/slide4.jpg">
                    <img src="../img/slide4.jpg" alt>
                  </picture>
                </div>
                <div class="slide__content  pt4">
                  <h3 class="slide__title">
                    Окна, кровля, <br> фасад
                  </h3>
                  <p class="slide__text">
                    Бесплатный замер, установка, доставка
                  </p>
                </div>
              </div>
            </div>

            <!-- Slide5 -->
            <div class="slide">
              <div class="slide__box">
                <div class="slide__img">
                  <picture>
                    <!-- <source type="image/webp" srcset="../img/slide5.webp"> -->
                    <source type="image/jpg" srcset="../img/slide5.jpg">
                    <img src="../img/slide5.jpg" alt>
                  </picture>
                </div>
                <div class="slide__content  pt5">
                  <h3 class="slide__title">
                    Безопасная доставка <br> по району
                    <p>50<span>грн</span></p>
                  </h3>
                  <p class="slide__text">
                    Кроме стеновых и кровельных материалов
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>



  </main>

  {# variable example #}
  {# <h1>{{title}}</h1> #}

  {# mixin example #}
  {# {{mixins.icon('facebook')}} #}

  {# data usage example #}
  {# {% import "data/data.html" as tests %}

  {% for test in tests.list %}
    <li>{{test.title}}</li>
  {% endfor %} #}
  {# end of example #}

  {# partial example #}
  {% include "partials/_footer.html" %}

{% endblock %}
