---
webTitle: 'Фактор. Рішення для будівництва та ремонту'
webDescription: 'Фактор. Рішення для будівництва та ремонту. Матеріали, спецтехніка доставка, монтаж'

email: 'zakaz@faktor.top'
Hotphone: '0 800 335 000'
MessengersPhone: '380500551871 '
TelegramLink: 'faktor_top'
instagramLink: ''
fbLink: ''
youtubeLink: ''

heroTitle1: 'Рішення'
heroTitle2: 'для будівництва'
heroTitle3: 'та ремонту'
heroSubtitle1: 'матеріали'
heroSubtitle2: 'спецтехніка'
heroSubtitle3: 'доставка, монтаж'

navItem1: 'Головна'
navItem2: 'Товари та послуги'
navItem3: 'Магазини'

aboutTitle: 'Про компанію'
story1: 'Історія нашої компанії бере початок у 1995 році з відкриття невеликого складу металопрокату.'
story2: 'В 2000 році ми відкрили в м. Волноваха свій перший роздрібний магазин, який і донині є найбільшим магазином будівельних та оздоблювальних матеріалів у Волноваському районі.'
story3: 'У 2005 році почала працювати Оптова база будівельних матеріалів "Фактор", яка дозволила нам забезпечувати комплексні поставки будівельних матеріалів для великих підрядників та організацій за конкурентними цінами. '
story4: "Станом на сьогодні, для наших клієнтів працює 9 торгівельних об'єктів загальною площею 10 000 м2."

aboutItem1: 'років на ринку'
aboutItem2: 'фахівців в штаті'
aboutItem3: 'магазинів'
aboutItem4: 'реалізованих проєктів'

serviceTitle: 'Товари та послуги'
serviceItem1: 'будівельні матеріали'
serviceItem2: 'лакофарбові матеріали'
serviceItem3: 'металопластикові конструкції'
serviceItem4: 'електроінструменти та обладнання'
serviceItem5: 'водопостачання'
serviceItem6: 'каналізація'
serviceItem7: 'опалення'
serviceItem8: 'металопрокат'
serviceItem9: 'фасадні матеріали'
serviceItem10: 'покрівельні матеріали'
serviceItem11: 'оздоблювальні матеріали'
serviceItem12: 'сад та город'
serviceItem13: 'двері'
serviceItem14: 'плитка'
serviceItem15: 'сантехніка'
serviceItem16: 'електротовари'
serviceItem17: 'кріплення і такелаж'
serviceItem18: 'ручні інструменти'
serviceItem19: 'покриття підлоги'
serviceItem20: 'колеровка фарб, лаків'
serviceItem21: 'оренда спецтехніки'
serviceItem22: 'вантажні перевезення'
serviceItem23: 'доставка, розвантаження'
serviceItem24: 'вивіз будівельного сміття'

advantagesTitle: 'Чому обирають нас'
advantagesItemTitle1: 'З НАМИ ВИГІДНО'
advantagesItemText1: 'Все просто, ми з задоволенням запропонуємо вам ціни нижче, ніж у конкурентів. Давайте торгуватися!'
advantagesItemTitle2: 'З НАМИ ЗРУЧНО'
advantagesItemText2: 'Ми працюємо з будь-якою формою оплати і даємо вхідний ПДВ.'
advantagesItemTitle3: 'МИ ПОРУЧ'
advantagesItemText3: "Приходьте до нас в магазин або замовте товар дистанційно та ми оперативно доставимо його на ваш об'єкт."
advantagesItemTitle4: 'МИ КРЕДИТУЄМО'
advantagesItemText4: 'У разі необхідності, ви маєте можливість взяти товар у кредит або з відстроченням платежу.'

clientTitle: 'НАШІ КЛІЄНТИ'
partnerTitle: 'НАШІ ПАРТНЕРИ'

ShopTitle: 'МАГАЗИНИ'
shop1: 'Магазин "Фактор", м. Волноваха, вул. Центральна, 68'
shop2: 'Магазин "Фактор", м. Волноваха, вул. Менделєєва, 45'
shop3: 'Магазин "Фактор", с. Андріївка, вул. Рудченко, 25'
shop4: 'Оптова база "Фактор", м. Волноваха, пров. Мостовий, 6'
shop5: 'Декор-центр "Фактор", м. Волноваха, вул. Центральна, 66'
shop6: 'Салон вікон "Сокос", м. Волноваха, вул. Центральна, 66'
shop7: 'Центр покрівлі та фасаду "Фактор", м. Волноваха,'
shop7plus: 'вул. Центральна, 66'
shop8: 'Колор-студія "Фактор", м. Волноваха, вул. Центральна, 68'
shop9: 'Салон дверей "Фактор", м. Волноваха, вул. Центральна, 66'

footerTitle1: 'Рішення'
footerTitle2: 'для будівництва та ремонту'
footerContact: 'Контакти'
footerAdress1: 'Донецька обл.,'
footerAdress2: 'м. Волноваха,'
footerAdress3: 'вул. Центральна, 68'
footerHotLine: 'Гаряча лінія'
footerCopyright: '© Copyright 2020. Всі права захищені'
footerAgency: 'Розробка сайтів'

---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<main class="main" id="hero">
  <section class="hero">
    <div class="wrapper">
      <div class="hero__box">
        <div class="hero__messengers messengers">
          <ul class="messengers__list">
            <li class="messengers__item">
              <a class="messengers__link" href="viber://chat?number={{ MessengersPhone }}">
                <img src="./img/viber.svg" alt>
              </a>
            </li>

            <li class="messengers__item">
              <a class="messengers__link" href="whatsapp://send?phone=+{{ MessengersPhone }}">
                <img src="./img/whatapp.svg" alt>
              </a>
            </li>

            <li class="messengers__item">
              <a class="messengers__link" href="http://t.me/{{ TelegramLink }}">
                <img src="./img/telegram.svg" alt>
              </a>
            </li>
          </ul>
        </div>

        <div class="hero__content">
          <h1 class="hero__title">
            {{ heroTitle1 }} <br>
            <span>
              {{ heroTitle2 }} <br> {{ heroTitle3 }}
            </span>
          </h1>

          <h2 class="hero__subtitle">
            {{ heroSubtitle1 }} <br>
            {{ heroSubtitle2 }} <br>
            {{ heroSubtitle3 }}
          </h2>

          <a href="#about" class="hero__btn scrolling__link">
            <div class="img-wrap">
              <div class="icon_svg" id="lottie6"></div>
            </div>
          </a>
        </div>

        <div class="slider">
          <img class="white-effect" src="./img/white.png" alt role="presentation">

          <div class="hero__slider">
            <!-- banner1 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner1_ua.webp">
                  <source type="image/jpg" srcset="./img/banner1_ua.jpg">
                  <img src="./img/banner1_ua.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner2 -->
            <!-- <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner2_ua.webp">
                  <source type="image/jpg" srcset="./img/banner2_ua.jpg">
                  <img src="./img/banner2_ua.jpg" alt>
                </picture>
              </div>
            </div> -->

            <!-- banner3 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner3_ua.webp">
                  <source type="image/jpg" srcset="./img/banner3_ua.jpg">
                  <img src="./img/banner3_ua.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner4 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner4_ua.webp">
                  <source type="image/jpg" srcset="./img/banner4_ua.jpg">
                  <img src="./img/banner4_ua.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner6 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner5_ua.webp">
                  <source type="image/jpg" srcset="./img/banner5_ua.jpg">
                  <img src="./img/banner5_ua.jpg" alt>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="about-wrap" id="about">
    <div class="wrapper">
      <div class="about__title-wrap">
        <h2 class="about__title section__title text-animate">{{ aboutTitle }}</h2>
        <p class="about__backTitle section__backTitle">{{ aboutTitle }}</p>
      </div>
    </div>

    <div class="about">
      <div class="wrapper">
        <div class="about__box about">
          <div class="about__photo">
            <picture>
              <source type="image/webp" srcset="./img/about.webp">
              <source type="image/jpg" srcset="./img/about.jpg">
              <img src="./img/about.jpg" alt>
            </picture>
          </div>

          <div class="about__content">
            <div class="about__story">
              <div>
                <p class="story1">
                  {{ story1 }}
                </p>
                <p class="story7">
                  {{ story2 }}
                </p>
              </div>
              <div class="story2">
                <p>
                  {{ story3 }}{{ story4 }}
                </p>
              </div>
            </div>

            <ul class="about__fact">
              <li>
                <div class="story3">
                  <span class="num">20</span>
                  <span class="text">{{ aboutItem1 }}</span>
                </div>
              </li>
              <li>
                <div class="story4">
                  <span class="num">70</span>
                  <span class="text">{{ aboutItem2 }}</span>
                </div>
              </li>
              <li>
                <div class="story5">
                  <span class="num">9</span>
                  <span class="text">{{ aboutItem3 }}</span>
                </div>
              </li>
              <li>
                <div class="story6">
                  <span class="num">50+</span>
                  <span class="text">{{ aboutItem4 }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="services-wrap" id="services">
    <div class="wrapper box">
      <div class="services__title-wrap">
        <h2 class="services__title section__title">{{ serviceTitle }}</h2>
        <p class="services__backTitle section__backTitle">{{ serviceTitle }}</p>
      </div>
    </div>

    <div class="services">
      <div class="wrapper box">
        <div class="services__box">
          <ul class="services__list col1">
            <li>{{ serviceItem1 }}</li>
            <!-- <li>{{ serviceItem2 }}</li> -->
            <li>{{ serviceItem3 }}</li>
            <li>{{ serviceItem4 }}</li>
            <li>{{ serviceItem5 }}</li>
            <li>{{ serviceItem6 }}</li>
            <li>{{ serviceItem7 }}</li>
          </ul>

          <ul class="services__list col2">
            <li>{{ serviceItem8 }}</li>
            <li>{{ serviceItem9 }}</li>
            <li>{{ serviceItem10 }}</li>
            <li>{{ serviceItem11 }}</li>
            <li>{{ serviceItem12 }}</li>
          </ul>

          <ul class="services__list col3">
            <li>{{ serviceItem13 }}</li>
            <li>{{ serviceItem14 }}</li>
            <li>{{ serviceItem15 }}</li>
            <li>{{ serviceItem16 }}</li>
            <li>{{ serviceItem17 }}</li>
            <li>{{ serviceItem18 }}</li>
            <li>{{ serviceItem19 }}</li>
          </ul>

          <ul class="services__list col4">
            <li>{{ serviceItem2 }}</li>
            <li>{{ serviceItem20 }}</li>
            <li>{{ serviceItem21 }}</li>
            <li>{{ serviceItem22 }}</li>
            <li>{{ serviceItem23 }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section class="advantages-wrap" id="advantages">
    <div class="wrapper box">
      <h2 class="advantages__title section__title">{{ advantagesTitle }}</h2>
      <p class="advantages__backTitle section__backTitle">{{ advantagesTitle }}</p>
    </div>

    <div class="advantages">
      <div class="wrapper box">
        <ul class="advantages__list">
          <li class="advantages__item item1">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <div class="icon_svg" id="lottie1"></div>
              </div>
              <div>
                <h3>
                  {{ advantagesItemTitle1 }}
                </h3>
                <p>
                  {{ advantagesItemText1 }}
                </p>
              </div>
            </div>
          </li>

          <li class="advantages__item item2">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <div class="icon_svg" id="lottie2"></div>
              </div>
              <div>
                <h3>
                  {{ advantagesItemTitle2 }}
                </h3>
                <p>
                  {{ advantagesItemText2 }}
                </p>
              </div>
            </div>
          </li>

          <li class="advantages__item item3">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <div class="icon_svg" id="lottie3"></div>
              </div>
              <div>
                <h3>
                  {{ advantagesItemTitle3 }}
                </h3>
                <p>
                  {{ advantagesItemText3 }}
                </p>
              </div>
            </div>
          </li>

          <li class="advantages__item item4">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <div class="icon_svg" id="lottie4"></div>
              </div>
              <div>
                <h3>
                  {{ advantagesItemTitle4 }}
                </h3>
                <p>
                  {{ advantagesItemText4 }}
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <section class="client-wrap">
    <div class="wrapper box">
      <h2 class="client__title section__title">{{ clientTitle }}</h2>
      <p class="client__backTitle section__backTitle">{{ clientTitle }}</p>
    </div>

    <div class="client">
      <ul class="client__list client__slider">
        <li>
          <div><img src="./img/client1.png" alt></div>
        </li>
        <li>
          <div><img src="./img/client2.png" alt></div>
        </li>
        <li>
          <div><img src="./img/client3.png" alt></div>
        </li>
        <li>
          <div><img src="./img/client4.png" alt></div>
        </li>
        <li>
          <div><img src="./img/client5.png" alt></div>
        </li>
        <li>
          <div><img src="./img/client6.png" alt></div>
        </li>
        <li>
          <div><img src="./img/client7.png" alt></div>
        </li>
        <li>
          <div><img src="./img/client8.png" alt></div>
        </li>
      </ul>
    </div>
  </section>


  <section class="client-wrap">
    <div class="wrapper box">
      <h2 class="client__title section__title">{{ partnerTitle }}</h2>
      <p class="client__backTitle section__backTitle">{{ partnerTitle }}</p>
    </div>

    <div class="client">
      <div dir="rtl">
        <ul class="client__list partner__slider">
          <li>
            <div><img src="./img/partner1.png" alt></div>
          </li>
          <li>
            <div><img src="./img/partner2.png" alt></div>
          </li>
          <li>
            <div><img src="./img/partner3.png" alt></div>
          </li>
          <li>
            <div><img src="./img/partner4.png" alt></div>
          </li>
          <li>
            <div><img src="./img/partner5.png" alt></div>
          </li>
          <li>
            <div><img src="./img/partner6.png" alt></div>
          </li>
          <li>
            <div><img src="./img/partner7.png" alt></div>
          </li>
          <li>
            <div><img src="./img/partner8.png" alt></div>
          </li>
          <li>
            <div><img src="./img/partner9.png" alt></div>
          </li>
          <li>
            <div><img src="./img/partner10.png" alt></div>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <section class="shop-wrap" id="shop">
    <div class="wrapper box">
      <h2 class="shop__title section__title">{{ ShopTitle }}</h2>
      <p class="shop__backTitle section__backTitle">{{ ShopTitle }}</p>
    </div>

    <div class="shop__line"></div>

    <div class="shop">
      <div class="wrapper">
        <div class="shop__box">
          <div class="map" id="map">
          </div>

          <ul class="shop__list">
            <li class="shop__item">
              <div>
                <label class="label" id="shop1">
                  {{ shop1 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380506044730">+380 50 6044730</a>,
                  <a class="shop__phone" href="tel:+380937298012">+380 93 7298012</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop2">
                  {{ shop2 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380950994121">+380 95 0994121</a>,
                  <a class="shop__phone" href="tel:+380933570482">+380 93 3570482</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop3">
                  {{ shop3 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380687801781">+380 68 7801781</a>,
                  <a class="shop__phone" href="tel:+380507080019">+380 50 7080019</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop4">
                  {{ shop4 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380667768999">+380 50 6044730</a>,
                  <a class="shop__phone" href="tel:+380636760745">+380 63 6760745</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop5">
                  {{ shop5 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380993866798">+380 99 3866798</a>,
                  <a class="shop__phone" href="tel:+380931521661">+380 93 1521661</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop6">
                  {{ shop6 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380970878222">+380 97 0878222</a>,
                  <a class="shop__phone" href="tel:+380997116137">+380 99 7116137</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop7">
                  {{ shop7 }}
                  <br>
                  {{ shop7plus }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380997116137">+380 99 7116137</a>,
                  <a class="shop__phone" href="tel:+380970878222">+380 97 0878222</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop8">
                  {{ shop8 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380501467319">+380 50 1467319</a>,
                  <a class="shop__phone" href="tel:+380634005811">+380 63 4005811</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop9">
                  {{ shop9 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380506042959">+380 50 6042959</a>,
                  <a class="shop__phone" href="tel:+380933722462">+380 93 3722462</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="shop__line"></div>
  </section>

</main>


{% import "data/data.html" as test %}
{% include "partials/_footer.html" %}

{% endblock %}
