---
webTitle: 'Фактор'
webDescription: 'Решения для строительства и ремонта'


title: Фактор - Решения для строительства и ремонта
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<main class="main" id="hero">
  <section class="hero">
    <div class="wrapper">
      <div class="hero__box">
        <div class="hero__messengers messengers">
          <ul class="messengers__list">
            <li class="messengers__item">
              <a class="messengers__link" href="viber://add?number=">
                <img src="./img/viber.svg" alt>
              </a>
            </li>

            <li class="messengers__item">
              <a class="messengers__link" href="https://wa.me/">
                <img src="./img/whatapp.svg" alt>
              </a>
            </li>

            <li class="messengers__item">
              <a class="messengers__link" href="https://telegram.me/">
                <img src="./img/telegram.svg" alt>
              </a>
            </li>
          </ul>
        </div>

        <div class="hero__content">
          <h1 class="hero__title">
            Решения <br>
            <span>
              для строительства <br> и ремонта
            </span>
          </h1>

          <h2 class="hero__subtitle">
            материалы <br>
            спецтехника <br>
            доставка, монтаж
          </h2>

          <a href="#about" class="hero__btn scrolling__link">
            <img src="./img/arrow.png" alt>
          </a>
        </div>

        <div class="slider">
          <img class="white-effect" src="./img/white.png" alt role="presentation">

          <div class="hero__slider">
            <!-- Slide1 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner1.webp">
                  <source type="image/jpg" srcset="./img/banner1.jpg">
                  <img src="./img/banner1.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner2 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner2.webp">
                  <source type="image/jpg" srcset="./img/banner2.jpg">
                  <img src="./img/banner2.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner3 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner3.webp">
                  <source type="image/jpg" srcset="./img/banner3.jpg">
                  <img src="./img/banner3.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner4 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner4.webp">
                  <source type="image/jpg" srcset="./img/banner4.jpg">
                  <img src="./img/banner4.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner6 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="./img/banner5.webp">
                  <source type="image/jpg" srcset="./img/banner5.jpg">
                  <img src="./img/banner5.jpg" alt>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="about-wrap" id="about">
    <div class="wrapper">
      <div class="about__title-wrap">
        <h2 class="about__title section__title">О компании</h2>
        <p class="about__backTitle section__backTitle">О компании</p>
      </div>
    </div>

    <div class="about">
      <div class="wrapper">
        <div class="about__box about">
          <div class="about__photo">
            <picture>
              <source type="image/webp" srcset="./img/about.webp">
              <source type="image/jpg" srcset="./img/about.jpg">
              <img src="./img/about.jpg" alt>
            </picture>
          </div>

          <div class="about__content">
            <div class="about__story">
              <div>
                <p>
                  История нашей компании берет начало в 1995 г. с открытия небольшого склада металлопроката.
                </p>
                <p>
                  В 2000 году мы открыли в г. Волноваха свой первый розничный магазин, который по сей день является самым большим магазином строительных и отделочных материалов в Волновахском районе.
                </p>
              </div>

              <div>
                <p>
                  В 2005 г. начала работать Оптовая база строительных материалов "Фактор", которая позволила нам обеспечивать комплексные поставки строительных материалов для крупных подрядчиков и организаций по конкурентным ценам. На сегодняшний день, для наших клиентов работает 10 торговых объектов общей площадью 10 000 м2.
                </p>
              </div>
            </div>

            <ul class="about__fact">
              <li>
                <div>
                  <span class="num">20</span>
                  <span class="text">лет на рынке</span>
                </div>
              </li>
              <li>
                <div>
                  <span class="num">70</span>
                  <span class="text">специалистов в штате</span>
                </div>
              </li>
              <li>
                <div>
                  <span class="num">9</span>
                  <span class="text">магазинов</span>
                </div>
              </li>
              <li>
                <div>
                  <span class="num">50+</span>
                  <span class="text">реализованных проектов</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="services-wrap" id="services">
    <div class="wrapper box">
      <div class="services__title-wrap">
        <h2 class="services__title section__title">Товары и услуги</h2>
        <p class="services__backTitle section__backTitle">Товары и услуги</p>
      </div>
    </div>

    <div class="services">
      <div class="wrapper box">
        <div class="services__box">
          <ul class="services__list">
            <li>строительные материалы</li>
            <li>лакокрасочные материалы</li>
            <li>металопластиковые конструкции</li>
            <li>электроинтсрумент и оборудование</li>
            <li>водоснабжение</li>
            <li>канализация</li>
            <li>отопление</li>
          </ul>

          <ul class="services__list">
            <li>металлопрокат</li>
            <li>фасадные материалы</li>
            <li>кровельные материалы</li>
            <li>отделочные материалы</li>
            <li>сад и огород</li>
          </ul>

          <ul class="services__list">
            <li>двери</li>
            <li>плитка</li>
            <li>сантехника</li>
            <li>электротовары</li>
            <li>крепеж и такелаж</li>
            <li>ручной инструмент</li>
            <li>напольные покрытия</li>
          </ul>

          <ul class="services__list">
            <li>колеровка красок, лаков</li>
            <li>аренда спецтехники</li>
            <li>грузовые перевозки</li>
            <li>доставка, разгрузка</li>
            <li>вывоз строймусора</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section class="advantages-wrap" id="advantages">
    <div class="wrapper box">
      <h2 class="advantages__title section__title">Почему выбирают нас</h2>
      <p class="advantages__backTitle section__backTitle">Почему выбирают нас</p>
    </div>

    <div class="advantages">
      <div class="wrapper box">
        <ul class="advantages__list">
          <li class="advantages__item">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <iframe src="../img/icon/icon_1.html" class="icon_svg"></iframe>
              </div>
              <div>
                <h3>
                  с нами выгодно
                </h3>
                <p>
                  Все просто, мы с удовольствие предложим вам цены ниже, чем у конкурентов. Давайте торговаться.
                </p>
              </div>
            </div>
          </li>

          <li class="advantages__item">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <iframe src="../img/icon/icon_2.html" class="icon_svg"></iframe>
              </div>
              <div>
                <h3>
                  с нами удобно
                </h3>
                <p>
                  Мы работаем с любой формой оплаты и даем входящий НДС.
                </p>
              </div>
            </div>
          </li>

          <li class="advantages__item">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <iframe src="../img/icon/icon_3.html" class="icon_svg"></iframe>
              </div>
              <div>
                <h3>
                  мы рядом
                </h3>
                <p>
                  Приходите к нам в магазин или закажите товар дистанционно и мы оперативно доставим его на ваш объект.
                </p>
              </div>
            </div>
          </li>

          <li class="advantages__item">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <iframe src="../img/icon/icon_4.html" class="icon_svg"></iframe>
              </div>
              <div>
                <h3>
                  мы кредитуем
                </h3>
                <p>
                  В случае необходимости, вы можете взять товар в кредит или с отсрочкой платежа.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <section class="client-wrap">
    <div class="wrapper box">
      <h2 class="client__title section__title">Наши клиенты</h2>
      <p class="client__backTitle section__backTitle">Наши клиенты</p>
    </div>

    <div class="client">
      <div class="wrapper">
        <ul class="client__list client__slider">
          <li>
            <div><img src="./img/client1.png" alt></div>
          </li>
          <li>
            <div><img src="./img/client2.png" alt></div>
          </li>
          <li>
            <div><img src="./img/client3.png" alt></div>
          </li>
          <li>
            <div><img src="./img/client4.png" alt></div>
          </li>
          <li>
           <div><img src="./img/client5.png" alt></div>
          </li>
          <li>
            <div><img src="./img/client6.png" alt></div>
          </li>
          <li>
            <div><img src="./img/client7.png" alt></div>
          </li>
          <li>
            <div><img src="./img/client8.png" alt></div>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <section class="client-wrap">
    <div class="wrapper box">
      <h2 class="client__title section__title">Наши партнеры</h2>
      <p class="client__backTitle section__backTitle">Наши партнеры</p>
    </div>

    <div class="client">
      <div class="wrapper">
        <div dir="rtl">
          <ul class="client__list partner__slider">
            <li>
              <div><img src="./img/partner1.png" alt></div>
            </li>
            <li>
              <div><img src="./img/partner2.png" alt></div>
            </li>
            <li>
              <div><img src="./img/partner3.png" alt></div>
            </li>
            <li>
              <div><img src="./img/partner4.png" alt></div>
            </li>
            <li>
              <div><img src="./img/partner5.png" alt></div>
            </li>
            <li>
              <div><img src="./img/partner6.png" alt></div>
            </li>
            <li>
              <div><img src="./img/partner7.png" alt></div>
            </li>
            <li>
              <div><img src="./img/partner8.png" alt></div>
            </li>
            <li>
              <div><img src="./img/partner9.png" alt></div>
            </li>
            <li>
              <div><img src="./img/partner10.png" alt></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section class="shop-wrap" id="shop">
    <div class="wrapper box">
      <h2 class="shop__title section__title">Магазины</h2>
      <p class="shop__backTitle section__backTitle">Магазины</p>
    </div>

    <div class="shop__line"></div>

    <div class="shop">
      <div class="wrapper">
        <div class="shop__box">
          <div class="map" id="map">
          </div>

          <ul class="shop__list">
            <li class="shop__item">
              <div>
                <label class="label">
                  Магазин "Фактор" г. Волноваха, ул. Центральная, 68
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380506044730">+380 50 6044730</a>,
                  <a class="shop__phone" href="tel:+380937298012">+380 93 7298012</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label">
                  Магазин "Фактор" г. Волноваха, ул. Менделеева, 45
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380950994121">+380 95 0994121</a>,
                  <a class="shop__phone" href="tel:+380933570482">+380 93 3570482</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label">
                  Магазин "Фактор" пос. Андреевка, ул. Рудченко, 25
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380687801781">+380 68 7801781</a>,
                  <a class="shop__phone" href="tel:+380507080019">+380 50 7080019</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label">
                  Магазин "Фактор" г. Волноваха, пер. Мостовой, 6
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380667768999">+380 50 6044730</a>,
                  <a class="shop__phone" href="tel:+380636760745">+380 63 6760745</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label">
                  Магазин "Фактор" г. Волноваха, ул. Центральная, 66
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380501467319">+380 50 6044730</a>,
                  <a class="shop__phone" href="tel:+380634005811">+380 63 4005811</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label">
                  Салон окон "Сокос" г. Волноваха, ул. Центральная, 66
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380970878222">+380 97 0878222</a>,
                  <a class="shop__phone" href="tel:+380997116137">+380 99 7116137</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label">
                  Центр кровли и фасада "Фактор" г. Волноваха, ул. Центральная, 66
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380997116137">+380 99 7116137</a>,
                  <a class="shop__phone" href="tel:+380970878222">+380 97 0878222</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label">
                  Колор-студия "Фактор" г. Волноваха, пер. Мостовой, 6
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380501467319">+380 50 1467319</a>,
                  <a class="shop__phone" href="tel:+380634005811">+380 63 4005811</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label">
                  Салон дверей "Фактор" г. Волноваха, ул. Центральная, 66
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380506044730">+380 50 6044730</a>,
                  <a class="shop__phone" href="tel:+380937298012">+380 93 7298012</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="shop__line"></div>
  </section>

</main>


{% import "data/data.html" as tests %}{% include "partials/_footer.html" %}

{% endblock %}
