@import "../helpers/_vars";

@import "../helpers/_mixins";

@include respond-to(phone) {
}

@include respond-to(phone-xl) {
}

@include respond-to(note) {
}

@include respond-to(tablet) {
}

@include respond-to(laptop) {
}

@include respond-to(desktop) {
}

@include respond-to(desktop-xl) {
}


.advantages {
	position: relative;
	overflow: hidden;
	background: #fff;

	&__title {
		position: relative;
		z-index: 1;
		margin-left: -5px;

		@include section-title;

		&-wrap {
			position: relative;
			z-index: 1;
			width: 100%;
		}
	}

	&__backTitle {
		position: absolute;
		top: 0;
		left: -500px;
		width: 100vw;

		@include section-title-behind;
	}

	&__list {
		padding: 60px 0;
	}

	&__item {

		h3 {
			padding-bottom: 20px;
			color: $grey;
			font-size: rem(36);
			font-weight: 700;
			line-height: 1;
			text-transform: uppercase;
		}

		p {
			max-width: 856px;
			font-size: rem(24);
			font-weight: 700;
		}

		&:nth-of-type(1) img,
		&:nth-of-type(2) img {
			width: 115px;
		}

		&:nth-of-type(3) img {
			width: 100px;
		}

		&:nth-of-type(4) img {
			width: 104px;
		}

		&:last-of-type .advantages__img-wrap {
			border-bottom: 1px solid #28323a;
		}
	}

	&__img-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 154px;
		margin-right: 74px;
		border-top: 1px solid #28323a;
	}

	&__box {
		display: flex;
		align-items: center;
	}
}
