@import "../helpers/_vars";

@import "../helpers/_mixins";


.advantages {
	position: relative;
	margin-bottom: 150px;
	overflow: hidden;
	background: #fff;

	@media (max-width: $phone-xl) {
		margin-bottom: 100px;
	}

	&__title {
		position: relative;
		z-index: 1;
		margin-left: -5px;

		@include section-title;

		&-wrap {
			position: relative;
			z-index: 1;
			width: 100%;
		}
	}

	&__backTitle {
		position: absolute;
		top: 0;
		left: -500px;
		width: 100vw;

		@include section-title-behind;
	}

	&__list {
		padding: 60px 0;
	}

	&__item {
		@media (max-width: $note) {
			margin-bottom: 30px;
			text-align: center;
		}

		h3 {
			padding-bottom: 20px;
			color: $grey;
			font-size: rem(36);
			font-weight: 700;
			line-height: 1;
			text-transform: uppercase;

			@media (max-width: $laptop) {
				font-size: rem(34);
			}

			@media (max-width: $tablet) {
				font-size: rem(30);
			}

			@media (max-width: $note) {
				padding-top: 30px;
				font-size: rem(26);
			}
		}

		p {
			font-size: rem(24);
			font-weight: 700;

			@media (max-width: $laptop) {
				font-size: rem(22);
			}

			@media (max-width: $note) {
				font-size: rem(20);
			}

		}

		&:nth-of-type(1) .icon_svg,
		&:nth-of-type(2) .icon_svg {
			width: 115px;
		}

		&:nth-of-type(3) .icon_svg {
			width: 100px;
		}

		&:nth-of-type(4) .icon_svg {
			width: 104px;
		}

		&:last-of-type .advantages__img-wrap {
			border-bottom: 1px solid #28323a;
		}
	}

	&__img-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 154px;
		margin-right: 74px;
		border-top: 1px solid #28323a;

		@media (max-width: $note) {
			margin: auto;
		}

		+ div {
			width: calc(100% - 200px);

			@media (max-width: $note) {
				width: 100%;
			}
		}
	}

	&__box {
		display: flex;
		align-items: center;

		@media (max-width: $note) {
			flex-direction: column;
			align-items: center;
		}
	}
}
