@import "../helpers/_vars";

@import "../helpers/_mixins";


.footer {
	padding: 28px 20px;

	&__box {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 430px;
		font-size: rem(20);
		font-weight: 700;
		text-transform: uppercase;

		@media (max-width: $tablet) {
			margin-bottom: 20px;
			font-size: rem(18);
		}

		@media (max-width: $note) {
			flex-direction: column;
			align-items: flex-start;
		}

		img {
			display: block;
			max-width: 140px;
			margin-top: -8px;
			margin-right: 22px;

			@media (max-width: $note) {
				margin: 0;
			}
		}

		h2 {
			color: $grey;

			@media (max-width: $note) {
				padding-top: 20px;
			}
		}

		span {
			display: block;
			color: $grey-dark;
		}
	}

	&__contact {
		max-width: 176px;

		@media (max-width: $tablet) {
			margin-bottom: 20px;
		}

		h2 {
			color: $grey;
			font-weight: 700;
		}

		address {
			margin-bottom: 20px;
			color: $grey-dark;
		}
	}

	&__right {
		@media (max-width: $tablet) {
			width: 100%;
		}
	}

	&__top,
	&__bottom {
		display: flex;
		justify-content: space-between;

		@media (max-width: $note) {
			flex-wrap: wrap;
		}
	}

	&__top {
		padding-bottom: 23px;

		h3 {
			padding-bottom: 5px;
			color: $grey-dark;
			font-size: rem(24);
			font-weight: 700;
		}

		.footer__phone {
			display: flex;
			align-items: center;
			margin-right: 25px;
			transition: color .25s ease-in;
			color: $grey-dark;
			font-weight: 700;

			span {
				font-size: rem(24);
			}

			&:hover {
				color: $green;
			}
		}

		.smm {
			@media (max-width: $note) {
				display: flex;
				width: 100%;
				margin: 20px 0;
			}
		}

		.smm__list {
			@media (max-width: $phone-xl) {
				justify-content: flex-start;
			}
		}

		.smm__link {
			width: 56px;
			height: 52px;
		}

		.smm__item {
			padding: 10px 13px;
			border-right: 2px solid #9aa6ad;
			border-left: 2px solid #9aa6ad;

			@media (max-width: $phone-xl) {
				margin: 0 10px 0 0;
				padding: 0;
				border: 0;
			}

			&:nth-of-type(2) {
				border: 0;
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
	}

	.copy {
		font-size: 16px;

		@media (max-width: $phone-xl) {
			padding-bottom: 20px;
		}
	}

	.agency {

		span {
			display: inline-block;
			padding-bottom: 5px;
			font-size: 14px;
			text-align: center;
		}

		img {
			display: block;
			width: 120px;
			height: 40px;
			margin: auto;
		}
	}
}
