@import "../helpers/_vars";

@import "../helpers/_mixins";


.shop {
	position: relative;
	overflow: hidden;
	background: #fafafa;

	&:before {
		content: "";
		display: block;
		position: absolute;
		// z-index: -1;
		top: 0;
		right: 105px;
		width: 330px;
		height: 100%;
		background: repeating-linear-gradient(90deg, #fafafa, #fafafa 100px, #9ca7ae 102px, #fafafa 100px, #9ca7ae 102px, #fafafa 100px, #9ca7ae 102px);

		@media (max-width: $tablet) {
			top: inherit;
			bottom: 0;
		}
	}

	&__line {
		position: relative;
		z-index: 2;
		width: 100vw;
		height: 50px;
		background: $grey-dark;
	}

	&__title {
		position: relative;
		z-index: 1;
		width: 100%;
		margin-bottom: -2px;
		margin-left: 52.5%;
		color: $grey-dark !important;

		@include section-title;


		@media (max-width: $tablet) {
			margin-left: inherit;
			text-align: center;
		}
	}

	&__backTitle {
		position: absolute;
		top: 0;
		right: -80px;

		@include section-title-behind;
	}

	&__box {
		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
		}
	}

	&__list {
		position: relative;
		z-index: 3;
		max-width: 600px;
		margin-left: 49.2%;
		padding: 30px 0 30px 60px;
		background: #f8f8f8;

		@media (max-width: $tablet) {
			margin-left: 0;
			padding-bottom: 0;
			padding-left: 30px;
		}

		&:before {
			content: "";
			position: absolute;
			top: -50px;
			left: 0;
			width: 2px;
			height: calc(100% + 50px);
			background: $grey;

			@media (max-width: $note) {
				display: none;
			}
		}
	}

	&__item {
		display: flex;
		position: relative;
		margin-bottom: 30px;
		color: $grey-dark;

		@media (max-width: $phone-xl) {
			display: inline-block;
		}

		label {
			padding-bottom: 6px;
		}

		a {
			transition: color $transition-fast;

			&:hover {
				color: $green;
			}
		}

		div > div {
			@media (max-width: $phone-xl) {
				margin-left: -30px;
			}
		}

		div a:first-of-type {
			position: relative;
			padding-left: 30px;

			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				width: 25px;
				height: 31px;
				background: url(../../img/phone.png)no-repeat center/contain;

				@media (max-width: $phone-xl) {
					top: 8px;
				}
			}
		}

		div a:last-of-type {
			@media (max-width: $phone-xl) {
				display: block;
				margin-top: 5px;
				margin-left: 30px;
			}
		}
	}

	.map {
		position: absolute;
		top: 0;
		left: 0;
		width: 60vw;
		height: 800px;


		@media (max-width: $tablet) {
			position: relative;
			z-index: 10;
			width: 100%;
			height: 400px;
		}
	}
}



/* Customize the label*/
.label {
	display: block;
	position: relative;
	cursor: pointer;
	user-select: none;

	input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		cursor: pointer;
	}

	&:hover input ~ .checkmark {
		background-color: $grey;
	}

	input:checked ~ .checkmark {
		background-color: $green;

		&:before {
			background-color: $green
		}
	}
}

.checkmark {
	position: absolute;
	top: 0;
	left: -30px;
	width: 18px;
	height: 18px;
	transition: background $transition-standart;
	border-radius: 50%;
	background-color: $grey;

	@media (max-width: $phone-xl) {
		top: 6px;
	}

	&:after,
	&:before {
		content: "";
		display: block;
		position: absolute;
		transition: background $transition-standart;
		border-radius: 50%;
	}

	&:after {
		top: 2px;
		left: 2px;
		width: 14px;
		height: 14px;
		background: #fff;
	}

	&:before {
		z-index: 1;
		top: 5px;
		left: 5px;
		width: 8px;
		height: 8px;
		background: $grey;
	}
}
