<footer class="footer">
  <div class="wrapper box">
    <div class="footer__box">
      <div class="footer__logo">
        <img src="../../img/logo.svg" alt="Фактор. Строительные и отделочные материалы">
        <h2><span>Решения</span> для строительства и ремонта</h2>
      </div>
      <div class="footer__contact">
        <h2>Контакты</h2>
        <address>
          Донецкая, обл., г. <br>
          Волноваха, ул. Центральная, 68
        </address>

        <a href="mailto:zakaz@faktor.top">zakaz@faktor.top</a>
      </div>

      <div class="footer__right">
        <div class="footer__top">
          <div>
            <h3>Гарячая линия</h3>
            <a class="footer__phone" href="tel:+08003350000">
              <img src="../../img/phone.png" alt>
              <span>08003350000</span>
            </a>
          </div>

          <div class="header__soc smm">
            <ul class="smm__list">
              <li class="smm__item">
                <a class="smm__link" href="#" target="_blank" rel="noopener noreferrer">
                  <img src="../img/instagram.svg" alt>
                </a>
              </li>

              <li class="smm__item">
                <a class="smm__link" href="#" target="_blank" rel="noopener noreferrer">
                  <img src="../img/facebook.svg" alt>
                </a>
              </li>

              <li class="smm__item">
                <a class="smm__link" href="#" target="_blank" rel="noopener noreferrer">
                  <img src="../img/youtube.svg" alt>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__bottom">
          <p class="copy">© Copyright 2020. Все права защищены</p>

          <div class="agency">
            <a href="https://web.push-k.ua/ua" target="_blank">
              <span>Разработка сайтов</span>
              <img src="../../img/push-k.svg" alt>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
