<header class="header">
  <div class="wrapper box">
    <div class="header__box">
      <div class="header__logo">
        <img src="./img/logo.svg" alt="Фактор. Строительные и отделочные материалы">
      </div>

      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link scrolling__link" href="#hero">Главная</a>
          </li>
          <li class="nav__item">
            <a class="nav__link scrolling__link" href="#services">Товары и услуги</a>
          </li>
          <li class="nav__item">
            <a class="nav__link scrolling__link" href="#shop">Магазины</a>
          </li>
        </ul>
      </nav>

      <a class="header__phone" href="tel:+08003350000">
        <img src="./img/phone.png" alt>
        <span>08003350000</span>
      </a>

      <div class="header__lang">
        <a href="#">UA</a>
        <a class="active" href="#">RU</a>
      </div>

      <div class="header__soc smm">
        <ul class="smm__list">
          <li class="smm__item">
            <a class="smm__link" href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/instagram.svg" alt>
            </a>
          </li>

          <li class="smm__item">
            <a class="smm__link" href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/facebook.svg" alt>
            </a>
          </li>

          <li class="smm__item">
            <a class="smm__link" href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/youtube.svg" alt>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
