@import "./helpers/_vars";

.mainwrap {
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;


	@media (max-width: $laptop) {
		max-width: 100%;
	}

	@media (max-width: $tablet) {
		width: 980px;
		max-width: 100%;
		padding: 0 20px;
	}

	@media (max-width: $note) {
		width: 725px;
	}

	@media (max-width: $phone-xl) {
		width: 100%;
		padding: 0 10px;
	}
}

.box {
	max-width: 1200px;

	@media (max-width: $laptop) {
		max-width: 100%;
	}
}
