---
webTitle: 'Фактор. Рішення для будівництва та ремонту'
webDescription: 'Фактор. Рішення для будівництва та ремонту. Матеріали, спецтехніка доставка, монтаж'

email: 'zakaz@faktor.top'
Hotphone: '0 800 335 000'
HotphoneLink: 'tel:+0800335000'
MessengersPhone: '0500551871 '
TelegramLink: 'faktor_top'
instagramLink: ''
fbLink: ''
youtubeLink: ''


heroTitle1: 'Решения'
heroTitle2: 'для строительства'
heroTitle3: 'и ремонта'
heroSubtitle1: 'материалы'
heroSubtitle2: 'спецтехника'
heroSubtitle3: 'доставка, монтаж'

navItem1: 'Главная'
navItem2: 'Товары и услуги'
navItem3: 'Магазины'

aboutTitle: 'О компании'
story1: 'История нашей компании берет начало в 1995 г. с открытия небольшого склада металлопроката.'
story2: 'В 2000 году мы открыли в г. Волноваха свой первый розничный магазин, который по сей день является самым большим магазином строительных и отделочных материалов в Волновахском районе.'
story3: 'В 2005 г. начала работать Оптовая база строительных материалов "Фактор", которая позволила нам обеспечивать комплексные поставки строительных материалов для крупных подрядчиков и организаций по конкурентным ценам.  '
story4: "На сегодняшний день, для наших клиентов работает 9 торговых объектов общей площадью 10 000 м2."

aboutItem1: 'лет на рынке'
aboutItem2: 'специалистов в штате'
aboutItem3: 'магазинов'
aboutItem4: 'реализованных проектов'

serviceTitle: 'Товары и услуги'
serviceItem1: 'строительные материалы'
serviceItem2: 'лакокрасочные материалы'
serviceItem3: 'металлопластиковые конструкции'
serviceItem4: 'электроинструмент и оборудование'
serviceItem5: 'водоснабжение'
serviceItem6: 'канализация'
serviceItem7: 'отопление'
serviceItem8: 'металлопрокат'
serviceItem9: 'фасадные материалы'
serviceItem10: 'кровельные материалы'
serviceItem11: 'отделочные материалы'
serviceItem12: 'сад и огород'
serviceItem13: 'двери'
serviceItem14: 'плитка'
serviceItem15: 'сантехника'
serviceItem16: 'электротовары'
serviceItem17: 'крепеж и такелаж'
serviceItem18: 'ручной инструмент'
serviceItem19: 'напольные покрытия'
serviceItem20: 'колеровка красок, лаков'
serviceItem21: 'аренда спецтехники'
serviceItem22: 'грузовые перевозки'
serviceItem23: 'доставка, разгрузка'
serviceItem24: 'вывоз строймусора'

advantagesTitle: 'Почему выбирают нас'
advantagesItemTitle1: 'С НАМИ ВЫГОДНО'
advantagesItemText1: 'Все просто, мы с удовольствием предложим вам цены ниже, чем у конкурентов. Давайте торговаться.'
advantagesItemTitle2: 'С НАМИ УДОБНО'
advantagesItemText2: 'Мы работаем с любой формой оплаты и даем входящий НДС.'
advantagesItemTitle3: 'МЫ РЯДОМ'
advantagesItemText3: "Приходите к нам в магазин или закажите товар дистанционно, и мы оперативно доставим его на ваш объект."
advantagesItemTitle4: 'МЫ КРЕДИТУЕМ'
advantagesItemText4: 'В случае необходимости, вы можете взять товар в кредит или с отсрочкой платежа.'

clientTitle: 'НАШИ КЛИЕНТЫ'
partnerTitle: 'НАШИ ПАРТНЕРЫ'

ShopTitle: 'МАГАЗИНЫ'
shop1: 'Магазин "Фактор", г. Волноваха, ул. Центральная, 68'
shop2: 'Магазин "Фактор", г. Волноваха, ул. Менделеева, 45'
shop3: 'Магазин "Фактор", пос. Андреевка, ул. Рудченко, 25'
shop4: 'Оптовая база "Фактор"", г. Волноваха, пер. Мостовой, 6'
shop5: 'Декор-центр "Фактор", г. Волноваха, ул. Центральная, 66'
shop6: 'Салон окон "Сокос", г. Волноваха, ул. Центральная, 66'
shop7: 'Центр кровли и фасада "Фактор", г. Волноваха,'
shop7plus: 'ул. Центральная, 66'
shop8: 'Колор-студия "Фактор", г. Волноваха, ул. Центральная, 68'
shop9: 'Салон дверей "Фактор", г. Волноваха, ул. Центральная, 66'

footerTitle1: 'Решения'
footerTitle2: 'для строительства и ремонта'
footerContact: 'Контакты'
footerAdress1: 'Донецкая обл.,'
footerAdress2: 'г. Волноваха,'
footerAdress3: 'ул. Центральная, 68'
footerHotLine: 'Горячая линия'
footerCopyright: '© Copyright 2020. Все права защищены'
footerAgency: 'Разработка сайтов'

---
{% extends "rus/layouts/_layout.html" %}

{% block content %}

{% include "rus/partials/_header.html" %}

<main class="main" id="hero">
  <section class="hero">
    <div class="wrapper">
      <div class="hero__box">
        <div class="hero__messengers messengers">
          <ul class="messengers__list">
            <li class="messengers__item">
              <a class="messengers__link" href="viber://chat?number={{ MessengersPhone }}">
                <img src="../img/viber.svg" alt>
              </a>
            </li>

            <li class="messengers__item">
              <a class="messengers__link" href="whatsapp://send?phone=+{{ MessengersPhone }}">
                <img src="../img/whatapp.svg" alt>
              </a>
            </li>

            <li class="messengers__item">
              <a class="messengers__link" href="http://t.me/{{ TelegramLink }}">
                <img src="../img/telegram.svg" alt>
              </a>
            </li>
          </ul>
        </div>

        <div class="hero__content">
          <h1 class="hero__title">
            {{ heroTitle1 }} <br>
            <span>
              {{ heroTitle2 }} <br> {{ heroTitle3 }}
            </span>
          </h1>

          <h2 class="hero__subtitle">
            {{ heroSubtitle1 }} <br>
            {{ heroSubtitle2 }} <br>
            {{ heroSubtitle3 }}
          </h2>

          <a href="#about" class="hero__btn scrolling__link">
            <div class="img-wrap">
              <div class="icon_svg" id="lottie6"></div>
            </div>
          </a>
        </div>

        <div class="slider">
          <img class="white-effect" src="../img/white.png" alt role="presentation">

          <div class="hero__slider">
            <!-- banner1 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="../img/banner1.webp">
                  <source type="image/jpg" srcset="../img/banner1.jpg">
                  <img src="../img/banner1.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner2 -->
            <!-- <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="../img/banner2.webp">
                  <source type="image/jpg" srcset="../img/banner2.jpg">
                  <img src="../img/banner2.jpg" alt>
                </picture>
              </div>
            </div> -->

            <!-- banner3 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="../img/banner3.webp">
                  <source type="image/jpg" srcset="../img/banner3.jpg">
                  <img src="../img/banner3.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner4 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="../img/banner4.webp">
                  <source type="image/jpg" srcset="../img/banner4.jpg">
                  <img src="../img/banner4.jpg" alt>
                </picture>
              </div>
            </div>

            <!-- banner6 -->
            <div class="slide">
              <div class="slide__img">
                <picture>
                  <source type="image/webp" srcset="../img/banner5.webp">
                  <source type="image/jpg" srcset="../img/banner5.jpg">
                  <img src="../img/banner5.jpg" alt>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="about-wrap" id="about">
    <div class="wrapper">
      <div class="about__title-wrap">
        <h2 class="about__title section__title text-animate">{{ aboutTitle }}</h2>
        <p class="about__backTitle section__backTitle">{{ aboutTitle }}</p>
      </div>
    </div>

    <div class="about">
      <div class="wrapper">
        <div class="about__box about">
          <div class="about__photo">
            <picture>
              <source type="image/webp" srcset="../img/about.webp">
              <source type="image/jpg" srcset="../img/about.jpg">
              <img src="../img/about.jpg" alt>
            </picture>
          </div>

          <div class="about__content">
            <div class="about__story">
              <div>
                <p class="story1">
                  {{ story1 }}
                </p>
                <p class="story7">
                  {{ story2 }}
                </p>
              </div>
              <div class="story2">
                <p>
                  {{ story3 }}{{ story4 }}
                </p>
              </div>
            </div>

            <ul class="about__fact">
              <li>
                <div class="story3">
                  <span class="num">20</span>
                  <span class="text">{{ aboutItem1 }}</span>
                </div>
              </li>
              <li>
                <div class="story4">
                  <span class="num">70</span>
                  <span class="text">{{ aboutItem2 }}</span>
                </div>
              </li>
              <li>
                <div class="story5">
                  <span class="num">9</span>
                  <span class="text">{{ aboutItem3 }}</span>
                </div>
              </li>
              <li>
                <div class="story6">
                  <span class="num">50+</span>
                  <span class="text">{{ aboutItem4 }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="services-wrap" id="services">
    <div class="wrapper box">
      <div class="services__title-wrap">
        <h2 class="services__title section__title">{{ serviceTitle }}</h2>
        <p class="services__backTitle section__backTitle">{{ serviceTitle }}</p>
      </div>
    </div>

    <div class="services">
      <div class="wrapper box">
        <div class="services__box">
          <ul class="services__list col1">
            <li>{{ serviceItem1 }}</li>
            <!-- <li>{{ serviceItem2 }}</li> -->
            <li>{{ serviceItem3 }}</li>
            <li>{{ serviceItem4 }}</li>
            <li>{{ serviceItem5 }}</li>
            <li>{{ serviceItem6 }}</li>
            <li>{{ serviceItem7 }}</li>
          </ul>

          <ul class="services__list col2">
            <li>{{ serviceItem8 }}</li>
            <li>{{ serviceItem9 }}</li>
            <li>{{ serviceItem10 }}</li>
            <li>{{ serviceItem11 }}</li>
            <li>{{ serviceItem12 }}</li>
          </ul>

          <ul class="services__list col3">
            <li>{{ serviceItem13 }}</li>
            <li>{{ serviceItem14 }}</li>
            <li>{{ serviceItem15 }}</li>
            <li>{{ serviceItem16 }}</li>
            <li>{{ serviceItem17 }}</li>
            <li>{{ serviceItem18 }}</li>
            <li>{{ serviceItem19 }}</li>
          </ul>

          <ul class="services__list col4">
            <li>{{ serviceItem2 }}</li>
            <li>{{ serviceItem20 }}</li>
            <li>{{ serviceItem21 }}</li>
            <li>{{ serviceItem22 }}</li>
            <li>{{ serviceItem23 }}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section class="advantages-wrap" id="advantages">
    <div class="wrapper box">
      <h2 class="advantages__title section__title">{{ advantagesTitle }}</h2>
      <p class="advantages__backTitle section__backTitle">{{ advantagesTitle }}</p>
    </div>

    <div class="advantages">
      <div class="wrapper box">
        <ul class="advantages__list">
          <li class="advantages__item item1">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <div class="icon_svg" id="lottie1"></div>
              </div>
              <div>
                <h3>
                  {{ advantagesItemTitle1 }}
                </h3>
                <p>
                  {{ advantagesItemText1 }}
                </p>
              </div>
            </div>
          </li>

          <li class="advantages__item item2">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <div class="icon_svg" id="lottie2"></div>
              </div>
              <div>
                <h3>
                  {{ advantagesItemTitle2 }}
                </h3>
                <p>
                  {{ advantagesItemText2 }}
                </p>
              </div>
            </div>
          </li>

          <li class="advantages__item item3">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <div class="icon_svg" id="lottie3"></div>
              </div>
              <div>
                <h3>
                  {{ advantagesItemTitle3 }}
                </h3>
                <p>
                  {{ advantagesItemText3 }}
                </p>
              </div>
            </div>
          </li>

          <li class="advantages__item item4">
            <div class="advantages__box">
              <div class="advantages__img-wrap">
                <div class="icon_svg" id="lottie4"></div>
              </div>
              <div>
                <h3>
                  {{ advantagesItemTitle4 }}
                </h3>
                <p>
                  {{ advantagesItemText4 }}
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <section class="client-wrap">
    <div class="wrapper box">
      <h2 class="client__title section__title">{{ clientTitle }}</h2>
      <p class="client__backTitle section__backTitle">{{ clientTitle }}</p>
    </div>

    <div class="client">
      <div class="wrapper">
        <ul class="client__list client__slider">
          <li>
            <div><img src="../img/client1.png" alt></div>
          </li>
          <li>
            <div><img src="../img/client2.png" alt></div>
          </li>
          <li>
            <div><img src="../img/client3.png" alt></div>
          </li>
          <li>
            <div><img src="../img/client4.png" alt></div>
          </li>
          <li>
           <div><img src="../img/client5.png" alt></div>
          </li>
          <li>
            <div><img src="../img/client6.png" alt></div>
          </li>
          <li>
            <div><img src="../img/client7.png" alt></div>
          </li>
          <li>
            <div><img src="../img/client8.png" alt></div>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <section class="client-wrap">
    <div class="wrapper box">
      <h2 class="client__title section__title">{{ partnerTitle }}</h2>
      <p class="client__backTitle section__backTitle">{{ partnerTitle }}</p>
    </div>

    <div class="client">
      <div class="wrapper">
        <div dir="rtl">
          <ul class="client__list partner__slider">
            <li>
              <div><img src="../img/partner1.png" alt></div>
            </li>
            <li>
              <div><img src="../img/partner2.png" alt></div>
            </li>
            <li>
              <div><img src="../img/partner3.png" alt></div>
            </li>
            <li>
              <div><img src="../img/partner4.png" alt></div>
            </li>
            <li>
              <div><img src="../img/partner5.png" alt></div>
            </li>
            <li>
              <div><img src="../img/partner6.png" alt></div>
            </li>
            <li>
              <div><img src="../img/partner7.png" alt></div>
            </li>
            <li>
              <div><img src="../img/partner8.png" alt></div>
            </li>
            <li>
              <div><img src="../img/partner9.png" alt></div>
            </li>
            <li>
              <div><img src="../img/partner10.png" alt></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section class="shop-wrap" id="shop">
    <div class="wrapper box">
      <h2 class="shop__title section__title">{{ ShopTitle }}</h2>
      <p class="shop__backTitle section__backTitle">{{ ShopTitle }}</p>
    </div>

    <div class="shop__line"></div>

    <div class="shop">
      <div class="wrapper">
        <div class="shop__box">
          <div class="map" id="map">
          </div>

          <ul class="shop__list">
            <li class="shop__item">
              <div>
                <label class="label" id="shop1">
                  {{ shop1 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380506044730">+380 50 6044730</a>,
                  <a class="shop__phone" href="tel:+380937298012">+380 93 7298012</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop2">
                  {{ shop2 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380950994121">+380 95 0994121</a>,
                  <a class="shop__phone" href="tel:+380933570482">+380 93 3570482</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop3">
                  {{ shop3 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380687801781">+380 68 7801781</a>,
                  <a class="shop__phone" href="tel:+380507080019">+380 50 7080019</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop4">
                  {{ shop4 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380667768999">+380 66 7768999</a>,
                  <a class="shop__phone" href="tel:+380636760745">+380 63 6760745</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop5">
                  {{ shop5 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380993866798">+380 99 3866798</a>,
                  <a class="shop__phone" href="tel:+380931521661">+380 93 1521661</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop6">
                  {{ shop6 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380970878222">+380 97 0878222</a>,
                  <a class="shop__phone" href="tel:+380997116137">+380 99 7116137</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop7">
                  {{ shop7 }}
                  <br>
                  {{ shop7plus }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380997116137">+380 99 7116137</a>,
                  <a class="shop__phone" href="tel:+380970878222">+380 97 0878222</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop8">
                  {{ shop8 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380501467319">+380 50 1467319</a>,
                  <a class="shop__phone" href="tel:+380634005811">+380 63 4005811</a>
                </div>
              </div>
            </li>

            <li class="shop__item">
              <div>
                <label class="label" id="shop9">
                  {{ shop9 }}
                  <input type="radio" name="shop">
                  <span class="checkmark"></span>
                </label>
                <div>
                  <a class="shop__phone" href="tel:+380506042959">+380 50 6042959</a>,
                  <a class="shop__phone" href="tel:+380933722462">+380 93 3722462</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="shop__line"></div>
  </section>

</main>


{% import "rus/data/data.html" as test %}
{% include "rus/partials/_footer.html" %}

{% endblock %}
