@import "./helpers/_vars";

@import "./helpers/_mixins";

// BASE
@import "./base/_reset";

@import "./base/_fonts";

@import "./base/_general";

@import "./base/_layout";

// COMPONENTS
// @import "./components/_burger";
// @import "./components/_menuMobile";
// @import "./components/_scrollUp";

// PLUGINS
@import "./plugins/_slick";

@import "./plugins/_slick-customize";

// Generated SVG Sprite
@import "./generated/sprite-svg";

.header {

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 34px 10px;

		@media (max-width: $desktop) {
			padding: 25px 30px;
		}

		@media (max-width: $laptop) {
			padding: 15px 20px;
		}

		@media (max-width: $note) {
			flex-wrap: wrap;
			padding: 15px 5px;
		}
	}

	&__logo {
		@media (max-width: $tablet) {
			flex: 1 1 auto;

			img {
				max-width: 140px;
			}
		}

		@media (max-width: $note) {
			order: 1;
			width: calc(100% - 90px);
		}
	}

	&__phone {
		display: flex;
		position: relative;
		align-items: center;
		transition: color .25s ease-in;
		color: #565655;
		font-weight: 700;

		@media (max-width: $note) {
			order: 4;
			margin-top: 20px;
			font-size: 17px;
		}

		&:hover {
			color: $green;
		}
	}

	&__lang {
		transition: color .25s ease-in;
		color: #565656;

		@media (max-width: $tablet) {
			margin: 0 20px;
		}

		@media (max-width: $note) {
			order: 2;
			margin-right: auto;
		}

		a {
			transition: color .25s ease-in;

			&:hover {
				color: $green;
			}
		}

		a:first-of-type {
			padding-right: 9px;
			border-right: 2px solid $grey;
		}

		a:last-of-type {
			padding-left: 4px;
		}

		.active {
			color: $grey;
			font-weight: 700;
		}
	}
}

.nav {
	display: flex;
	flex-basis: 340px;
	width: 100%;
	margin: 0 15px;

	@media (max-width: $tablet) {
		display: none;
	}


	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	&__link {
		display: block;
		position: relative;
		transition: .25s ease-in;
		color: $grey-dark;
		font-weight: 700;

		&:after {
			content: "";
			position: absolute;
			bottom: -6px;
			left: 0;
			width: 100%;
			height: 4px;
			transform: scaleX(0);
			transform-origin: bottom right;
			transition: transform .25s ease-in;
			background-color: $green;
		}

		&:hover {

			&:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}

}

.smm {
	@media (max-width: $note) {
		order: 4;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $note) {
			justify-content: flex-end;
		}
	}

	&__item {
		padding: 10px;
		border-right: 1px solid #9aa6ad;
		border-left: 1px solid #9aa6ad;

		@media (max-width: $phone-xl) {
			margin-top: 14px;
			margin-left: 12px;
			padding: 0;
			border: 0;
		}

		&:nth-of-type(2) {
			border: 0;
		}
	}

	&__link {
		display: block;
		width: 30px;
		height: 30px;

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}

.hero {
	position: relative;
	width: 100%;
	margin-bottom: 100px;
	overflow: hidden;
	background: #fff;


	@media (max-width: $tablet) {
	}

	@media (max-width: $note) {
	}

	@media (max-width: $phone-xl) {
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 236px;
		background: repeating-linear-gradient(90deg, #fff, #fff 4px, #f6f6f6 8px, #f6f6f6 10px);

		@media (max-width: $tablet) {
			top: 0;
			bottom: inherit;
			height: 100%;
		}
	}

	&__box {
		display: flex;
		position: relative;
		justify-content: space-between;
		width: 100%;

		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}

	&__content {
		position: relative;
		z-index: 10;
		max-width: 20.5%;
		padding-top: 74px;
		padding-bottom: 60px;

		@media (max-width: $desktop) {
			max-width: 27.5%;
		}

		@media (max-width: $laptop) {
			max-width: 25%;
			padding: 70px 15px 40px;
		}

		@media (max-width: $tablet) {
			max-width: calc(100vw - 105px);
		}

		@media (max-width: $phone-xl) {
			max-width: 100%;
			padding-bottom: 0px;
		}
	}

	&__title {
		display: inline-block;
		width: 640px;
		margin-right: 0px;
		padding-bottom: 26px;
		color: $grey-dark;
		font-size: rem(90);
		font-weight: 900;
		line-height: .85;
		text-transform: uppercase;


		@media (max-width: $desktop) {
			padding-bottom: 16px;
			font-size: rem(80);
		}

		@media (max-width: $laptop) {
			font-size: rem(74);
		}

		@media (max-width: $tablet) {
			width: 100%;
			font-size: rem(70);
		}

		@media (max-width: $note) {
			font-size: rem(54);
		}

		@media (max-width: $phone-xl) {
			font-size: rem(46);
		}

		span {
			font-size: rem(72);

			@media (max-width: $desktop) {
				font-size: rem(64);
			}

			@media (max-width: $laptop) {
				font-size: rem(58);
			}

			@media (max-width: $tablet) {
				font-size: rem(50);
			}

			@media (max-width: $note) {
				font-size: rem(42);
			}

			@media (max-width: $phone-xl) {
				font-size: rem(32);
			}
		}
	}

	&__subtitle {
		padding-bottom: 40px;
		color: $grey-dark;
		font-size: rem(44);
		font-weight: 400;

		@media (max-width: $desktop) {
			padding-bottom: 30px;
			font-size: rem(36);
		}

		@media (max-width: $laptop) {
			font-size: rem(32);
		}

		@media (max-width: $tablet) {
			font-size: rem(30);
		}

		@media (max-width: $note) {
			font-size: rem(26);
		}

		@media (max-width: $phone-xl) {
			font-size: rem(24);
		}

	}

	&__btn {
		display: block;
		animation: arrow-bounce 5s infinite;
		border: 0;
		outline: none;
		background: transparent;

		@media (max-width: $tablet) {
			display: none;
		}

		&:hover {
			animation-play-state: paused;
		}
	}

	.messengers {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 17%;
		margin-left: 30px;

		@media (max-width: $desktop) {
			max-width: 10%;
			margin-left: 20px;
		}

		@media (max-width: $laptop) {
			margin-left: 0;
		}

		@media (max-width: $tablet) {
			position: absolute;
			top: 90px;
			right: 0;
			max-width: 90px;
			margin: auto;
		}

		@media (max-width: $phone-xl) {
			right: -10px;
			max-width: 50px;
		}

		&__item {
			display: block;
			width: 90px;
			padding: 15px 0;
			border-top: 2px solid #9ca7ae;

			@media (max-width: $laptop) {
				width: 90px;
			}

			@media (max-width: $phone-xl) {
				width: 100%;
				margin-bottom: 15px;
				padding: 0;
				border: 0;
			}

			&:last-of-type {
				border-bottom: 2px solid #9ca7ae;

				@media (max-width: $phone-xl) {
					border: 0;
				}
			}
		}

		&__link {
			display: block;
			width: 50px;
			height: 50px;
			margin: auto;

			@media (max-width: $phone-xl) {
				width: 40px;
				height: 40px;
			}

			svg {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}

	.slider {
		position: relative;
		width: 100%;
		max-width: 60%;
		height: 100%;

		@media (max-width: $laptop) {
			max-width: 75%;
		}

		@media (max-width: $tablet) {
			max-width: 100%;
		}

		.slider-track {
			transition: all 1s cubic-bezier(.7, 0, .3, 1);
		}

		.slide {
			position: relative;
			z-index: 1;
			height: 100%;

			img {
				width: 100%;
				transform: scale(1.2);
				transition: transform 3s cubic-bezier(.7, 0, .3, 1);
			}

			&.slick-active img {
				transform: scale(1);
			}
		}
	}

	.white-effect {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0%;
		pointer-events: none;
		user-select: none;

		@media (max-width: $laptop) {
			top: -30px;
		}

		@media (max-width: $phone-xl) {
			display: none;
		}
	}
}


@keyframes arrow-bounce {

	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(20px);
	}

	100% {
		transform: translateY(0px);
	}
}
